################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/BudPay.Net.SDK/FileContentIndex/cd47787a-9565-4bb6-8804-77ae283b4d9e.vsidx
/src/.vs/BudPay.Net.SDK/FileContentIndex/eb5fdf7d-dafd-4810-8fad-fae2987cc149.vsidx

.fake
/src/.vs/BudPay.Net.SDK/FileContentIndex/685df01b-1d39-4695-8fee-215352348e70.vsidx
/src/.vs/BudPay.Net.SDK/FileContentIndex/d484941c-2f09-47e5-a58b-6c76d9699f82.vsidx
/src/.vs/BudPay.Net.SDK/FileContentIndex/da0862ea-69a0-4c61-8d18-13a1bdd84a23.vsidx
/src/.vs/BudPay.Net.SDK/FileContentIndex/ff542904-4b99-41df-89ca-13e5264e6dda.vsidx
