################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/.vs/BudPay.Net.SDK/FileContentIndex/cd47787a-9565-4bb6-8804-77ae283b4d9e.vsidx
/src/.vs/BudPay.Net.SDK/FileContentIndex/eb5fdf7d-dafd-4810-8fad-fae2987cc149.vsidx
